    body {
      background: #f4f7fb;
      font-family: "Poppins", sans-serif;
      direction: rtl;
    margin:0 auto ;

    }

    .app-title {
      color: #063858;
      font-weight: 700;
      font-size: 1.3rem;
    }

    /* BUTTON تحت NAVBAR */
    .top-button {
      margin-top: 15px;
      display: flex;
      justify-content: right;
    }

    .btn-blue {
      background: linear-gradient(135deg, #0E79BE, #063858);
      border: none;
      color: white;
      font-weight: 600;
      padding: 10px 22px;
      border-radius: 12px;
      transition: 0.3s;
    }

    .btn-blue:hover {
      opacity: 0.9;
    }

    /* METRIC CARDS */
    .card-metric {
      border-radius: 18px;
      padding: 24px;
      background: linear-gradient(135deg, #0E79BE, #063858);
      color: white;
      box-shadow: 0 12px 28px rgba(0, 0, 0, 0.08);
    }

    .card-metric h2 {
      font-weight: 800;
    }

    /* CHART BOX */
    .chart-box {
      background: white;
      padding: 20px;
      border-radius: 18px;
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.06);
      border: 1px solid #e4e9f2;
    }